
/* Some CSS Setup */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#3d464d;
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(260deg, white  0%, #FFFFFF 50%);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding:20px;
}

img {
  max-width:100%;
}

a {
    text-decoration: none;  
    color: palevioletred;    
}

.navLink {
    color: #F5F5F5;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    padding: 1em;
    margin-left: .5em;
    background-color: #3d464d;
}
.navLink:hover {
  background: #7b8994;
}